;;;; File: world-default.config
;;; Version: %W%
;;; Contains: Default World configuration
;;; Author: Jeff Dalton
;;; Created: Novenber 1994
;;; Updated: Mon Oct  9 16:42:56 1995 by Jeff Dalton
;;; Author Institution: AIAI, University of Edinburgh
;;; Release Version: %Y%
;;; Copyright: (c) 1994, AIAI, University of Edinburgh
;;; This material may be reproduced by or for the U.S. Government pursuant
;;; to the copyright license under the clause at DFARS 252.227-7032
;;; (June 1975) -- Rights in Technical Data and Computer Software (Foreign).

;;; /\/: At present, this is just a copy of world-small.config.


:CONFIG :WORLD
	:WINDOW :world-clock "World Clock" 595 20 18 1
	   "-fn fixed -n \"World Clock\""
	:WINDOW :world-history "World History" 595 69 80 16
	   "-fn 6x10 -n \"World History\""
	:WINDOW :world-agenda "World Agenda" 595 263 80 16
	   "-fn 6x10 -n \"World Agenda\""
	:WINDOW :world-interact "World Interaction" 595 457 80 16
           "-fn 6x10 -n \"World Interact\""
	:SOCKET :server :worldin
	:SOCKET :client :worldout
	:SOCKET :client :mcc
:END

;;; ---------------------------- Change History ----------------------------
;;; (Who)   (When) 		     (What)
;;;
